name: auto commit

on:
  schedule:
    - cron: "0 0 * * *"  
  workflow_dispatch:

jobs:
  spam_commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Set up git
        run: |
          git config --global user.name "4rnzz"
          git config --global user.email "sellrnzz@gmail.com"

      - name: Create random number of commits with today's date
        run: |
          TODAY=$(date +'%Y-%m-%d')
          COUNT=$(( RANDOM % 81 + 20 ))  # Random number between 20 and 100
          echo "Creating $COUNT commits..."
          for i in $(seq 1 $COUNT); do
            echo "$TODAY commit $i" >> Commit.txt
            git add Commit.txt
            git commit -m "auto: $TODAY commit $i"
          done
          git push
